.card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
    /* margin: 25px; */
	margin: 155px;
	
}
.all-card {
	box-shadow: 0 0 5px 0 #0006;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: center;
	background: url('/public/img/paperCard.jpg') transparent;
	background-size: cover;
	
}



.author_info {
	font-size: 1.3em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 15px;
	align-items: center;
}

.avatar {
	max-height: 65px;
	border-radius: 50px;
	box-shadow: 0 0 15px 0 #0006;
}

.about {
	font-size: small;
	color: darkblue;
}

.authors-pic {
	display: flex;
	align-items: center;
	max-height: 200px;
	max-width: 400px;
	box-shadow: 0 0 10px 0 #0006;
}
