.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    font-family: sans-serif;
}

.name {
    font-size: 60px;
}

.btnIn {
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    cursor: pointer;
    background: #8e7aff;
}
