.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    font-family: sans-serif;
    align-content: center;
}

.name {
    font-size: 60px;
}
