.card {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
    margin: 25px;
}
.card-body {
	box-shadow: 0 0 5px 0 #0006;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
}