.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
    margin-left: 400px;
    margin-right: 350px;
    font-family: sans-serif;
    align-content: center;
}

.name {
    color: rgb(97, 97, 97);
    opacity: 0.8;
    font-size: 60px;
}

nav {
    padding: 15px;
}
